# products of configure and make
Makefile
a.out
a.out.js
config.h
config.log
config.status
doc/Makefile
man/Makefile
mecab-config
mecab.iss
mecabrc
src/.libs/
src/Makefile
src/Makefile.msvc
src/**/*.la
src/**/*.lo
src/**/*.o
src/mecab
src/mecab-cost-train
src/mecab-dict-gen
src/mecab-dict-index
src/mecab-system-eval
src/mecab-test-gen
stamp-h1
tests/Makefile
libtool

# compilation products of em++
mecab.html
mecab.js
mecab.wasm
mecab.data

# pre-compressed so that Apache doesn't have to gzip them every time
mecab.js.gz
mecab.wasm.gz
mecab.data.gz

# my untidyness
ipadic
naist-jdic