# compilation products of em++
mecab.js
mecab.html
mecab.wasm
mecab.data

# outputs of edict2-downloader.sh
edict2.gz
edict2
edict2.eucjp.txt
edict2.utf8.txt
edict2.utf16.txt
edict2.utf16le.txt

# outputs of enamdict-downloader.sh
enamdict
enamdict.gz
enamdict.utf8.txt

# pre-compressed so that Apache doesn't have to gzip them every time
mecab.js.gz
mecab.wasm.gz
mecab.data.gz
edict2.eucjp.txt.gz
edict2.utf8.txt.gz
edict2.utf16.txt.gz
edict2.utf16le.txt.gz
enamdict.utf8.txt.gz

node_modules