# compilation products of em++
mecab.js
mecab.html
mecab.wasm
mecab.data

# generate this using edict2-downloader.sh
edict2.utf16le.txt
# just for my convenience
edict2.utf16.txt

# pre-compressed so that Apache doesn't have to gzip them every time
mecab.js.gz
mecab.wasm.gz
mecab.data.gz
edict2.utf16le.txt.gz