.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
div.emscripten { text-align: center; }      
div.emscripten_border { border: 1px solid black; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; background-color: black; }

.spinner {
	height: 30px;
	width: 30px;
	margin: 0;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;

	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation 0.8s linear infinite;

	border-left: 5px solid rgb(235, 235, 235);
	border-right: 5px solid rgb(235, 235, 235);
	border-bottom: 5px solid rgb(235, 235, 235);
	border-top: 5px solid rgb(120, 120, 120);
	
	border-radius: 100%;
	background-color: rgb(189, 215, 46);
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#status {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: bold;
	color: rgb(120, 120, 120);
}

#progress {
	height: 20px;
	width: 300px;
}

.output {
	/*width: 100%;
	height: 200px;*/
  width: 40em;
  height: 10em;

  border: black solid 1px;

	/*margin: 0 auto;
	margin-top: 10px;*/

  border-width: 1px;

	/*border-left: 0px;
	border-right: 0px;*/
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	/*background-color: black;
	color: white;*/
	font-family: 'Lucida Console', Monaco, monospace;
	outline: none;
  overflow-y: scroll;
  resize: both;
}

.input {
  width: 40em;
  height: 4em;
}

#args {
  width: 40em;
}

form input,form textarea {
  display: block;
}

textarea {
  font-size: 16px;
}

.jisho-is-great {
  font-weight: 600;
}

#current-query {
  font-size: 18px;
}

#iframeContainer {
  height: 800px;
  resize: vertical;
  overflow: hidden;
}

#iframeContainer > iframe {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.paper-tape {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.paper-tape .parsed-sentence {
  white-space: pre-wrap;
  word-spacing: 0.15em;
  font-size: 18px;
  font-weight: 600;
}

.output-row {
  margin-bottom: 1.5em;
}

.paper-tape .parsed-sentence > span.token {
  cursor: pointer;
}

.paper-tape .parsed-sentence > span.token:hover {
  text-decoration-style: dotted;
  text-decoration-color: black;
  text-decoration-line: underline;
}

.columnReverse {
  flex-direction: column-reverse;
}

a.token2, .token3, .token4 {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.token2:hover, .token3:hover, .token4:hover {
  text-decoration-style: dotted;
  text-decoration-color: black;
  text-decoration-line: underline;
}

.hero-container {
  display: block;
  margin-bottom: 1em;
}

.hero-definition {
  font-size: 2em;
}

.alt-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 1em;
}

.alt-head {
  margin-bottom: 0.5em;
  /*color: #7892FF;*/
  font-style: italic;
}

.alt-headword-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 1em;
}

.alt-definition {
  margin-right: 1.5em;
}
/*.alt-container:empty {
  margin-right: initial;
}*/

.submitter {
  color: white;
  font-weight: 600;
  background-color: #0099FF;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding: 1em 2em;
  width: 40em;
}
.submitter:hover {
  background-color: #00AAFF;
}
.submitter:active {
  background-color: #0066FF;
}

.submitter[disabled] {
  background-color: #69777F;
}

body {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
}

footer {
  padding-bottom: 100px;
}

nav a, nav a:visited, nav a:hover, nav a:active {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.results-header {
  font-weight: bold;
  display: block;
}

.alt-lookup {
  font-size: 0.8em;
  display: block;
}

.jisho-lookup {
  font-size: 0.8em;
  display: block;
  margin-bottom: 1em;
}

form[name="term-lookup"] input {
  display: initial;
}

.names-section {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  display: block;
}

.meanings {
  display: flex;
  flex-direction: column;
}

.meaning {
  display: flex;
  flex-direction: row;
}

.meaning-ix {
}
.meaning-prose {
}
.meaning-aspect-container {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.meaning-aspect-container.sense {
  color: #3A669C;
}
.meaning-aspect-container.part-of-speech {
  color: #28A66D;
}
.meaning-aspect-container.dialect {
  color: #B36A54;
}
.meaning-aspect-container.usage-domain {
  color: #A65549;
}
.meaning-aspect {
  font-size: small;
  margin-left: 0.5em;
}
.meaning-aspect:after {
  content: ", ";
}
.meaning-aspect:last-child:after {
  content: "";
}